* {
  font-family: Verdana;
}

p {
  border: 1px solid purple;
}

body {
  display: block;
  margin: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid red;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.title {
  color: mediumaquamarine;
  padding: 20px 10px;
}

ul {
  padding: 0;
  display: flex;

}

li {
  list-style: none;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;

}

#headernav {
  padding-right: 40px;
}

.content {
  display: flex;
}

a {
  color: black;
}

.column {
  border: 1px solid blue;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
